<div class = "container" id="show_page">
<h3><%= @Blog.title %></h3>
<hr>
<br>
<p><%= @Blog.content %></p>

<%= link_to "Back", root_path, class: 'btn btn-outline-primary', id: 'show_button' %>
</div>